.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.cart-container{
    position: sticky;
    top: 0;
    background-color: #dcdde1;
    padding: 20px;
}

.cart-button .btn-chose,
.cart-button .btn-chose-again{
    border: 0;
    padding: 10px 15px;
    border: 2px solid #6306db;
    border-radius: 5px;
    background: transparent;
    color: #6306db;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.cart-button .btn-chose-again{
    border: 2px solid #07a0e7;
    color: #07a0e7;
}

.cart-button .btn-chose:hover,
.cart-button .btn-chose-again:hover{
    cursor: pointer;
}

@media only screen and (max-width: 525px){
    .shop-container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .products-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
    }
}